BiocManager
escheR
SpatialExperiment
SingleCellExperiment
SummarizedExperiment
scuttle
scran
scater
DelayedArray
DelayedMatrixStats
HDF5Array
rhdf5
h5mread
AnnotationHub
BiocFileCache
spatialLIBD
zellkonverter
tidyverse
dplyr
ggplot2
readr
tibble
here
Matrix
matrixStats
scattermore
gridExtra
patchwork
cowplot
data.table

tidyverse
escheR
here
SpatialExperiment
scuttle
scattermore
gridExtra
matrixStats